*.pdf
.obsidian/workspace.json

0. DM Screen/Libros/(EN Publishing) Level Up - Monstrous Menagerie.pdf
0. DM Screen/Libros/(Saga Press) The Monsters Know What They Are Doing.pdf
0. DM Screen/Libros/Curse of Strahd.pdf
0. DM Screen/Libros/I, Strahd- Memoires of a Vampire.pdf
0. DM Screen/Libros/Where Evil Lives.pdf